body {
    background: rgb(90, 255, 40);
    background: linear-gradient(150deg, rgba(90, 255, 40, 1) 0%, rgba(33, 254, 251, 1) 74%, rgba(62, 50, 255, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
}

#generator-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: fit-content;
    padding: 3%;
    border-radius: 4%;
    background-color: white;
    -webkit-box-shadow: 10px 9px 12px -7px rgba(77, 77, 77, 1);
    -moz-box-shadow: 10px 9px 12px -7px rgba(77, 77, 77, 1);
    box-shadow: 10px 9px 12px -7px rgba(77, 77, 77, 1);
    margin-top: 5%;
}

#creator-header {
    color: rgb(20, 223, 20);
    font-size: 28px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#generator-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 9px 12px -7px rgba(77, 77, 77, 1);
    -moz-box-shadow: 10px 9px 12px -7px rgba(77, 77, 77, 1);
    box-shadow: 10px 9px 12px -7px rgba(77, 77, 77, 1);
    margin-bottom: 15px;
}

#local-DB-list {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 3%;
}

#local-DB-list-container {
    margin-top: 3%;
    text-align: center;
}

#DB-header{
    font-size: 28px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#local-DB-list .listGallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    background-color: white;
    border-radius: 5%;
    width: 280px;
}

#local-DB-list .listGallery img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 35px;
}

#local-DB-list .desc {
    padding-top: 15px;
}